body {
    heigh:700px;
    background-image: url("imagenes/estadio-de-manchester-united-13180459.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-size: contain;
      }